a {
  color: #00B7FF;
}


/* layouts.hbs -------------------------------------------------------------------------------------- */
body {
  padding: 0 0 0 0;
}

#bg-text {
  -webkit-text-stroke: 1px #e9d3d3;
}

#fg-text {
  color: #dc3545;
}



.header-area .navbar .navbar-brand {
  /* rem: root element's font-size */
  padding: 0 2rem 0 5rem;  
}

.header-area .navbar {
  padding: 0 100px 0 0;
}

.header-area .nav-item .nav-link {
  text-transform: uppercase;
  font-weight: 500;
  padding: 1.7rem;
  color: black;
}

.header-area .nav-item .nav-link:hover {
  font-weight: 500;
  padding: 1.7rem;
  color: red;
}